:host {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -9;
}

.animated-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: screen;
  filter: blur(3vw);

  @media screen and (prefers-reduced-motion) {
    animation-duration: 1000s !important;
  }
}
