<app-animated-bg />

<main class="controls">
  <h1>Add cover art to your MP3 file</h1>

  <input
    type="file"
    [accept]="audioType"
    (change)="onFileSelected($event)"
    (drop)="onDrop($event, audioType)"
  />

  <input
    type="file"
    [accept]="imageType"
    (change)="onImageSelected($event)"
    (drop)="onDrop($event, imageType)"
  />

  <button [disabled]="!isCoverUpAllowed" (click)="coverUp()">Cover Up!</button>

  <app-loader *ngIf="isLoading" class="loading-cover" />
</main>

<footer>
  Designed and developed by

  <a href="https://github.com/perioad" target="_blank">perioad</a>
</footer>
