<app-animated-bg />

<main class="controls">
  <h1>Add cover art to your MP3 file</h1>

  <input
    #audoInput
    type="file"
    [accept]="audioType"
    (change)="onFileSelected($event)"
  />

  <button title="Supported audio format: MP3" (click)="audoInput.click()">
    Choose audio
  </button>

  @if (audioFile?.name) {

  <p class="filename" [title]="audioFile?.name">
    {{ audioFile?.name }}
  </p>

  }

  <input
    #imageInput
    type="file"
    [accept]="imageType"
    (change)="onImageSelected($event)"
  />

  <button
    title="Supported image formats: jpg, jpeg, png"
    (click)="imageInput.click()"
  >
    Choose image
  </button>

  @if (imageFile?.name) {

  <p class="filename" [title]="imageFile?.name">
    {{ imageFile?.name }}
  </p>

  }

  <button
    class="coverup"
    title="Press to add the image to the audio file"
    [disabled]="!isCoverUpAllowed"
    (click)="coverUp()"
  >
    Cover Up!
  </button>

  <app-loader *ngIf="isLoading" class="loader" />
</main>

<footer>
  Designed and developed by

  <a href="https://github.com/perioad" target="_blank">perioad</a>
</footer>

<div class="aria" aria-live="assertive">
  {{ ariaMessage$ | async }}
</div>
